@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

$types: success, warning, danger, info, error;

@include b(result) {
  @include set-component-css-var('result', $result);
}

@include b(result) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: var(--ca-result-padding);

  @include e(icon) {
    svg {
      width: var(--ca-result-icon-font-size);
      height: var(--ca-result-icon-font-size);
    }
  }

  @include e(title) {
    margin-top: var(--ca-result-title-margin-top);

    p {
      margin: 0;
      font-size: var(--ca-result-title-font-size);
      color: var(--ca-text-color-primary);
      line-height: 1.3;
    }
  }

  @include e(subtitle) {
    margin-top: var(--ca-result-subtitle-margin-top);

    p {
      margin: 0;
      font-size: var(--ca-font-size-base);
      color: var(--ca-text-color-regular);
      line-height: 1.3;
    }
  }

  @include e(extra) {
    margin-top: var(--ca-result-extra-margin-top);
  }

  @each $type in $types {
    .icon-#{$type} {
      --ca-result-color: var(--ca-color-#{$type});
      color: var(--ca-result-color);
    }
  }
}
